<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img id="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <%- body %>
    <footer>
        <p>
            &copy; Aditya Chouhan
        </p>
            <ul class="footer_links">
                <li><a href="https://www.instagram.com/lowkey__019/"><img id="instagram-logo"></a></li>
                <li><a href="#"><img id="linkedin-logo"></a></li>
            </ul>
    </footer>
</body>

</html>