<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <a class="logo" href="/homepage"><img id="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a href="/services">Services</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <%- body %>

        <footer>
            <p id="copyright"></p>

            <ul class="footer_links">
                <li><a href="https://www.instagram.com/lowkey__019/"><img id="instagram-logo"></a></li>
                <li><a href="https://www.linkedin.com/in/aditya-chouhan-09892b245/"><img id="linkedin-logo"></a></li>
            </ul>
        </footer>

        <script>
            const copyright = `
            <p>
              Copyright &copy; ${new Date().getFullYear()} Aditya Chouhan
            </p>
          `;

            document.getElementById('copyright').innerHTML = copyright;
        </script>
</body>

</html>