<main>

    <h1 class="header-one" >About ME!</h1>

    <article class="center">
        <div id="center">
            <img style="height: 150px; width: 150px;" src="/img/Emoji.png">
            <p>
                I am Aditya Chouhan, and this is my third semester in the Software Engineering technician program. My objective is to learn enough from this program so that I can develop spectacular websites.
            </p>
            <br><br>
            <p>
                <a style="text-decoration: none" href="https://drive.google.com/file/d/1f_VMieuoOXu34Rt8cruQYLwD4DAluRAN/view?usp=sharing">
                   <span style="color: #90E0EF;" >Click here to view my resume.</span>
                </a>
            </p>
        </div>
    </article>
</main>

