<main>
    <h1 class="header-one" >About ME!</h1>

    <article class="left">
        <br>
        <p>
            I am Aditya Chouhan, and I am from India.            
        </p>
        <br>
        <h4>Some of my habits and favourite things are:</h4>
        <br>
        <ul class="about-ul">
            <li>Listening music.</li>
            <li>Playing badminton.</li>
            <li>Searching about tech.</li>
            <li>My favourite website is <a href="https://www.apple.com/">apple.com</a></li>
        </ul>
    </article>
</main>