<main>
    <article class="middle">
        <div class="center">
            <h1 class="header-one" class="home-message" >Hi, there! I am Aditya Chouhan, and Welcome to my webpage.</h1>
        </div>
    </article>
</main>