<main>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur fugiat aliquid ipsam veritatis doloremque minima temporibus voluptate, saepe sint est dignissimos eius nesciunt non perferendis pariatur neque quam nemo molestias.</p>
    </article>
</main>