<main>
    <article>
        <h1 class="header-one" >Projects</h1>
        <br>
        <p>
            I have worked on some projects of  <span>HTML & CSS</span>, <span>C#</span>, and <span>SQL</span></span>.
        </p><br>
    </article>
</main>